Babel==2.9.1
django-positions==0.6.0
Django>=3.2
django-filter==2.4.0
djangorestframework==3.11.2
isort==4.3.21
mysqlclient==1.4.4
Markdown>=3.0.0,<3.1
Pillow>=6.2.2
pytz==2019.2
sqlparse==0.4.4
reportlab==3.5.55
qrcode==6.1
django-phonenumber-field>=4.0.0
phonenumbers>=8.12
markdown-checklist>=0.4.1
MarkdownSuperscript>=2.1.0
MarkdownSubscript>=2.1.0
python-magic>=0.4
pyembed-markdown>=1.1.0
django-annoying>=0.10.6
django-crispy-forms>=1.9.0,<2.0.0
