{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load image_rendering %}
{% block content %}
<h3>Edit item</h3>
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Edit meta data</h5>
		<form method="post">
			<div class="card-text">
				{% csrf_token %}
				{{ form | crispy }}
			</div>
			<br />
			<input class="btn btn-primary" type="submit" value="Update"/>
		</form>
	</div>
</div>
<br />
<br />
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Images</h5>
		<div class="card-text">
			{% for p in item.images.all %}
			{# TODO: make fancy #}
			{% render_icon p style="width: 96px; height: 96px;" %}
			{% endfor %}
		</div>
		<br />
		<a href="{% url 'add_image_to_item' item.id %}" class="btn btn-primary">
			<img src="{% static 'icons/add-image.svg' %}" style="width: 32px; height: 32px;" />
			Add image
		</a>
	</div>
</div>
<br />
<br />
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Avaiability to groups</h5>
		<div class="card-text">
			Not yet implemented
		</div>
	</div>
</div>
<br />
<br />
<a href="{% url 'list_equipment' %}" class="btn btn-secondary">Go back</a>
{% endblock %}
