{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load image_rendering %}
{% block content %}
<h3>Edit image</h3>
<div class="card">
	{% render_image photograph style='class="card-img-top"' %}
	<div class="card-body">
		<h5 class="card-title">Edit image: {{ photograph.title }}</h5>
		<form method="post">
			<div class="card-text">
				{% csrf_token %}
				{{ form | crispy }}
			</div>
			<br />
			<input class="btn btn-primary" type="submit" value="Save"/>
		</form>
	</div>
	<div class="card-footer">
		Uploaded at: {{ photograph.uploaded_at }}
		{% if request.user.is_superuser or request.user.is_satff %}
		, Uploaded by: {{ photograph.uploaded_by }}
		{% endif %}
	</div>
</div>
{% endblock %}
