{% extends "base.html" %}
{% load image_rendering %}
{% block content %}
<h5>Media gallery:</h5><br />
{% if not page_obj %}
<ul class="list-group">
<li class="list-group-item">
	<h6>There are no images. Upload one?{# TODO: Add upload image button #}</h6>
</li>
</ul>
{% endif %}
<a href="#{# TODO: Add upload media button #}" class="btn btn-secondary">Upload media</a>
<br />
<br />
<div class="card-deck row-cols-5">
{% for photograph in page_obj %}
<div class="col mb-4">
<div class="card" style="width: 18rem;">
	{% render_image photograph style='class="card-img-top"' %}
	<div class="card-body">
		<div class="card-title">
			<h5>{{ photograph.title }}</h5>
		</div>
		<div class="card-text">
			{% autoescape off %}
			{{ photograph.notes_cache }}
			{% endautoescape %}
		</div>
		<a href="#{# TODO: implement #}" class="card-link btn btn-secondary">Edit Image</a>
	</div>
	<div class="card-footer">
		Uploaded at: {{ photograph.uploaded_at }}
		{% if request.user.is_superuser or request.user.is_satff %}
		, Uploaded by: {{ photograph.uploaded_by }}
		{% endif %}
	</div>
</div>
</div>
<br />
{% endfor %}
</div>
<br />
<div class="card">
	<div class="card-body">
	<span class="col-3">
		{% if page_obj.has_previous %}
			<a href="?page=1" class="btn-secondary">&laquo;first</a>
			<a href="?page={{ page_obj.previous_page_number }}" class="btn-secondary">Back</a>
		{% endif %}
	</span>
	<center>
	<span class="col-4">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
	</span>
	</center>
	<span class="col-3">
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}" class="btn-secondary">Next</a>
		<a href="?page={{ page_obj.paginator.num_pages }}" class="btn-econdary">last&raquo;</a>
		{% endif %}
	</span>
	</div>
</div>
{% endblock %}
