{% extends "base.html" %}
{% load image_rendering %}
{% block content %}
<h5>Media gallery:</h5><br />
{% if not page_obj %}
<ul class="list-group">
<li class="list-group-item">
	<h6>There are no images. <a href="{% url "uploadsingleimage" %}" class="btn btn-outline-secondary">Upload one</a>?</h6>
</li>
</ul>
{% else %}
<a href="{% url "uploadsingleimage" %}" class="btn btn-secondary">Upload media</a>
<br />
<br />
<div class="card-deck row-cols-5">
{% for photograph in page_obj %}
<div class="card" style="min-width: 18rem; width: 18rem; margin-top: 1.5rem;">
	{% render_image photograph style='class="card-img-top"' %}
	<div class="card-body">
		<div class="card-title">
			<h5>{{ photograph.title }}</h5>
		</div>
		<div class="card-text">
			{% autoescape off %}
			{{ photograph.notes_cache }}
			{% endautoescape %}
		</div>
		<a href="{% url "editmedia" photograph.id %}" class="card-link btn btn-secondary">Edit Image</a>
	</div>
	<div class="card-footer">
		Uploaded at: {{ photograph.uploaded_at }}
		{% if request.user.is_superuser or request.user.is_satff %}
		, Uploaded by: {{ photograph.uploaded_by }}
		{% endif %}
	</div>
</div>
{% if forloop.counter|divisibleby:"2" %}
<div class="w-100 d-none d-sm-block d-md-none d-lg-none d-xl-none"></div>{# every 2 #}
{% endif %}
{% if forloop.counter|divisibleby:"3" %}
<div class="w-100 d-none d-md-block d-lg-none d-sm-none d-xl-none"></div>{# every 3 #}
{% endif %}
{% if forloop.counter|divisibleby:"4" %}
<div class="w-100 d-none d-lg-block d-xl-none d-sm-none d-md-none"></div>{# every 4 #}
{% endif %}
{% if forloop.counter|divisibleby:"5" %}
<div class="w-100 d-none d-xl-block d-sm-none d-md-none d-lg-none"></div>{# every 5 #}
{% endif %}
{% endfor %}
</div>
<br />
{% include 'paginationfooter.html' %}
{% endif %}
{% endblock %}
