{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load image_rendering %}
{% load group_tools %}

{% block title %}
SHARINATOR! - All Groups
{% endblock %}

{% block content %}
<h3>My groups</h3><br />
<ul class="list-group">
{% for group in page_obj %}
<li class="card">
	{% if group.icon %}
	{% render_image group.icon style='class="card-img-top" style="height: 10em; object-fit: cover;"' %}
	{% endif %}
	<div class="card-body">
		<h5 class="card-title">{{ group.name }}</h5>
		<p class="card-text mt-2">
		{% autoescape off %}
		{{ group.notes_cache }}
		{% endautoescape %}
		</p>
		<a href="#" class="btn btn-primary">
			<img src="{% static 'icons/edit-outline.svg' %}" style="width: 32px; height: 32px;"/>
			Edit
		</a>
		<span class="badge badge-light">Number of Members: {{ group.members.count }}</span>
		<span class="badge badge-light">Number of apllications: {{ group.applications.count }}</span>
		<br />
		<small>Exists since: {{ group.created_at|naturalday }}</small>
	</div>
</li>
{% empty %}
<div class="card">
	<div class="card-body">
		<div class="card-text">
			<p>
				There are no groups.
				<a href="#" class="btn btn-primary">Create one</a>?
			</p>
		</div>
	</div>
</div>
<br /><br />
{% endfor %}
</ul>
<br />
{% include 'paginationfooter.html' %}
{% endblock %}
