{% extends "base.html" %}
{% load image_rendering %}
{% block content %}
<h5>Users:</h5><br />
{% if not page_obj %}
<ul class="list-group">
<li class="list-group-item">
	<h6>There are no entries</h6>
</li>
</ul>
{% endif %}
<a href="{% url "adduser" %}" class="btn btn-secondary">Add user</a>
<br />
<br />
{% for profile in page_obj %}
<div class="card">
	<div class="card-body">
		<div class="card-title">
			<h6>User: {{ profile.user.username }}</h6>
		</div>
		<div class="card-text">
			<div class="row">
				<div class="col-3">
					{% render_icon profile.profile_picture height=96 width=96 %}
				</div>
				<div class="col-6">
					Full name: {{ profile.user.first_name }} {{ profile.user.last_name }}<br />
					Last login: {{ profile.user.last_login }} <br />
					Email: {{ profile.user.email }} <br />
					Staff: {{ profile.user.is_staff }} Superuser: {{ profile.user.is_superuser}}<br />
				</div>
				<div class="col-3">
					<a href="{% url "profileedit" profile.id %}" class="btn-primary btn">Edit</a><br /><br />
					<a href="{% url "forceforeignlogout" %}?user_id={{ profile.id }}" class="btn btn-danger">Force logout</a>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
{% endfor %}
<br />
{% include 'paginationfooter.html' %}
{% endblock %}
