{% extends "base.html" %}
{% load image_rendering %}
{% block content %}
<h3>{{ message }}</h3>
<div class="card-deck">
{% for i in images %}
<div class="card" style="width: 18rem;">
	{% render_image i link=False style='class="card-img-top"' %}
	<div class="card-body">
		<div class="card-title">
			<h5>{{ i.title }}</h5>
		</div>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="image_id" value="{{ i.id }}" />
			<input type="hidden" name="payload" value="{{ payload }}" />
			<input type="submit" class="btn btn-primary" value="Select" />
		</form>
	</div>
</div>
{% endfor %}
</div>
<br />
<br />
<div class="card">
	<div class="card-body">
		<span class="col-3">
			<a href="{{ safe_link }}" class="btn btn-secondary">Cancle</a>
		</span>
	</div>
</div>
{% endblock %}
