{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block sitetitle %}Sharinator!{% endblock %}</title>
  <link href="{% static "/bootstrap/css/bootstrap.css" %}" rel="stylesheet" integrity="sha384-BHMmCeZEB8FFTwXRrSSWZJd7NXU/Hh4EawgpQO+3MDzE/GMYgbXgHb8ylJcUlBeK">
  <link href="{% static "/style.css" %}" rel="stylesheet"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block head %}

{% endblock %}
</head>
<body>
	<!-- Include navbar here -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<!-- TODO: design a propper icon and favicon -->
		<a class="navbar-brand" href="/">SHARINATOR!</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'listmedia' %}">Media</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'list_equipment' %}">My Equipment</a>
				</li>
				{% if request.user.is_superuser or request.user.is_staff %}
				<li class="nav-item">
					<a href="{% url 'managementdashboard' %}" class="nav-link">Management Dashboard</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<main role="main" class="container">
		{% if messages %}
		{% for message in messages %}
  		<div class="{{ message.tags }}" role="alert">{{ message }}</div>
		{% endfor %}
  		{% endif %}
		<div class="row">
			<div class="col">
				{% block content %}
				<h1>No content block defined inside template</h1>
				{% endblock %}
			</div>
			{% block pagenavigation %}
			{% endblock %}
		</div>
	</main>
	<script src="{% static "/jquery/jquery-3.5.1.slim.min.js" %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj="></script>
	<script src="{% static "/bootstrap/js/bootstrap.bundle.min.js" %}" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"></script>
</body>
</html>
